<div class="navbar_container">

  <div class="navbar_left">
    <div class="navbar_link">
      <%= link_to 'Home', root_path %>
    </div>
    <div class="navbar_link">
      <%= link_to 'New Post', new_article_path %>
    </div>
  </div>

  <div class="navbar_center">
    <div class="navbar_title">
      An article posting site for the people
    </div>
  </div>

  <div class="navbar_right">
    <div class="navbar_link">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  </div>

</div>