<h3> <%= link_to 'Articles', root_path %> -- <%= link_to 'Post new article', new_article_path %> </h3>
<hr></hr>
<h1>Edit an existing article</h1>
<h3>Please use an appropriate title and include poignant content.</h3>
<hr></hr>