<%= render 'navbar_user_logged_in'%>

<div class="header">
  <h1>Create and post a new article</h1>
  <h3>Please use a specific title and include poignant content.  Whatever you like, really!</h3>
</div>

<%= render 'article_form'%>