body {
  margin: 0;
}

.navbar_container {
  border-bottom: black solid 1px;
  display: flex;
}

.navbar_left {
    flex-grow: 1;
  /* border: red solid 1px; */
  display: flex;
  justify-content: baseline;
}

.navbar_center {
  flex-grow: 1;
  /* border: yellow solid 1px; */
  display: flex;
  justify-content: center;
}

.navbar_right {
  flex-grow: 1;
  /* border: green solid 1px; */
  display: flex;
  justify-content: flex-end;
}

.navbar_title {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  /* border: black dashed 1px; */
  text-align: center;
}

.navbar_link {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  /* border: black dashed 1px; */
  text-align: center;
}

.navbar_link a {
  text-decoration: none;
}